@page "/"
@inject IAccountService AccountService;

<PageTitle>Home</PageTitle>

<!-- Local warning & confirm message, clear after every successful method call or input from user -->
@if (warningMessage != string.Empty) {
    <div class="alert alert-danger alert-dismissible fade show">
        @warningMessage
    </div>
}
@if (confirmMessage != string.Empty) {
    <div class="alert alert-success alert-dismissible fade show">
        @confirmMessage
    </div>
}

<h1>Home</h1>
<br />
@if (!AccountService.IsAuthorized()) 
{
    <div class="form-group">
    <label for="pwd">Password: <small class="text-muted">Defaults to "admin" if not set</small></label>
    <input type="password" class="form-control" id="pwd" @bind-value="password"><br />
    <button type="button" class="btn btn-primary btn" @onclick="() => tryPassword()">Enter</button>
    </div>
}

@if (AccountService.IsAuthorized()) {
    <div class="list-group">
        <a href="CreateAccount" class="list-group-item list-group-item-action">Create Account</a>
        <a href="ManageAccounts" class="list-group-item list-group-item-action">Manage Accounts</a>
        <a href="DepositWithdraw" class="list-group-item list-group-item-action">Deposit & Withdraw</a>
        <a href="Transaction" class="list-group-item list-group-item-action">Transaction</a>
        <a href="History" class="list-group-item list-group-item-action">History</a>
    </div>
    
}
<br />
<hr />
<h2>Import & Export Account Data</h2>
<br />
<div class="btn-group">
    <button type="button" 
            class="btn btn-primary" 
            @onclick="ImportMethod"
            disabled="@(!fileIsUploaded)"
        >Import</button>
    <button type="button" 
            class="btn btn-primary" 
            @onclick="ExportMethod"
            disabled="@(!AccountService.IsAuthorized())"
        >Export</button>
</div> 
<InputFile OnChange="GetFile" accept=",json" />
<br />

@if (!AccountService.IsAuthorized()) {
    <div class="alert alert-warning fade show">
        <i>Login to export current account data</i>
    </div>
}


@code {
    string password;
    string warningMessage = string.Empty;
    string confirmMessage = string.Empty;
    void clearMessage() {
        warningMessage = string.Empty;
        confirmMessage = string.Empty;
    }
    private IBrowserFile? uploadedFile;
    bool fileIsUploaded => uploadedFile is not null;

    void tryPassword() {
        clearMessage();
        //if (password != null) 
        {
            AccountService.TryAuthorize(password);
            if (!AccountService.IsAuthorized()) {
                warningMessage = "Wrong password!";
            }
            else {
            confirmMessage = "Logged in successfully";
            }
        }
    }
    
    // Create new list _accounts,
    // set list to current BankAccounts list on startup and state change
    private List<BankAccount> _accounts = new();
    protected override async Task OnInitializedAsync() {
        await AccountService.EnsureLoadedAsync();
        _accounts = AccountService.GetAccounts();
        AccountService.OnAccountsChanged += OnAccountsChanged;
    }
    async void OnAccountsChanged() {
        var updated = AccountService.GetAccounts();
        _accounts = new List<BankAccount>(updated);
        await InvokeAsync(() => 
        {
            Console.WriteLine("Refreshing UI...");
            StateHasChanged();
        });
    }

    // Local import & export methods
    async Task ImportMethod() {
        if (uploadedFile is null) { return; }

        // Convert to stream --> string using StreamReader
        using var stream = uploadedFile.OpenReadStream();
        using var reader = new StreamReader(stream);
        var json = await reader.ReadToEndAsync();

        // Send json string to AccountService
        await AccountService.ImportAccountsAsync(json);
        confirmMessage = "Account imported successfully";
    }
    async Task ExportMethod() {
        await AccountService.ExportAccountsAsync();
        confirmMessage = "Accounts exported successfully, downloading...";
    }

    // Get and save file
    private async Task GetFile(InputFileChangeEventArgs e) {
        uploadedFile = e.File;
    }

}